<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<ul th:fragment="adminPanel" class="nav nav-pills flex-column" style="margin-top: 15px">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <li class="nav-item">
            <a class="nav-link active" href="/admin" style="max-width: 150px">Admin</a>
        </li>
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/user">User</a>
    </li>
</ul>
</body>
</html>