<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}">
    <label for="userName">Enter name: </label>
    <input type="text" th:field="*{user.userName}" id="userName">

    <br/>
    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{user.email}" id="email">

    <br/>
    <br/>

    <label th:for="confirm1">Admin</label>
    <input type="checkbox" name="confirm1" th:checked="*{role}" />

    <br/>
    <br/>

    <input type="submit" value="Update">
</form>

</body>
</html>