<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>userHome</title>
</head>
<body>
<h2>
    My information
</h2>
<span sec:authentication="principal.username">username</span>
<br>
<span sec:authentication="principal.email">email</span>
<br>
<span sec:authentication="principal.authorities">Roles</span>

<br/>
<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>