<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'Name: ' + ${user.getUserName()}"></p>
<p th:text="'Email: ' + ${user.getEmail()}"></p>
<p th:text="'Role: ' + ${role}"></p>
<br/>
<br/>
<div>
    <form th:method="GET" th:action="@{/user/{id}/edit(id = ${user.getId()})}">
        <input type="submit" value="Edit">
    </form>
    <form th:method="DELETE" th:action="@{/{id}(id = ${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>
<br/>
<br/>
<a href="/admin">Back</a>
</body>
</html>